# Ignore Python cache files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Ignore virtual environment
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variable or config files (if used)
.env

# Ignore OS/macOS/Linux/Windows files
.DS_Store
Thumbs.db

# Ignore data folders if you don't want to push data
data/
